<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body class="bg-gray-400 ">

  <div class=" w-10/12 mx-auto flex justify-center"> 

    <nav id="navbar" class="mt-12 p-4 bg-white w-2/12">
                  
        
      <ul class="mt-6 ">
        
        <a href="/posts/newPost" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center" >+New Post</a>
        
        <a href="/" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center" >All Posts</a>
        <a href="#" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center" >......</a>
        <a href="#" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center" >......</a>
      </ul>
  
     </nav>

    

    

    
    
      
  
      <div class="  border-2  w-6/12 mt-12 p-10 bg-gray-200">
       
        
        
        
    
        <% posts.forEach(post => { %>
          
    
          
    
          <% if(posts.indexOf(post)%2== 0){ %>
            <div class=" border border-black w-12/12 mt-4 bg-green-200">
              <div class="border-2 p-4 overflow-auto">
                <h4 class="mb-6 text-xl font-bold"><%= post.title %></h4>
                <div class=" w-24 p-2 text-green-800 font-bold" >
                  <%= post.createdAt.toLocaleDateString() %>
                </div>
                <div class="mt-2 mb-2 text-blue-500 "><%= post.description %></div>
                <a href="posts/<%= post.slug %>" class=" border-2 px-4 py-1 bg-green-500 text-white float-left mt-0 inline" >Read More</a>
                <a href="posts/edit/<%= post.id %>" class=" border-2 px-4 py-1 bg-gray-700 text-white float-right mt-0 inline">Edit</a>
                
              </div>
            </div>
           <% } else{ %>  
            <div class=" border border-black w-12/12 mt-4 bg-red-200">
              <div class="border-2 p-4 overflow-auto">
                <h4 class="mb-6 text-xl font-bold"><%= post.title %></h4>
                <div class=" w-24 p-2 text-green-800 font-bold" >
                   <%= post.createdAt.toLocaleDateString() %>
                </div>
                <div class="mt-2 mb-2 text-blue-500 "><%= post.description %></div>
                <a href="posts/<%= post.slug %>" class=" border-2 px-4 py-1 bg-green-500 text-white float-left mt-0 inline" >Read More</a>
                <a href="posts/edit/<%= post.id %>" class=" border-2 px-4 py-1 bg-gray-700 text-white float-right mt-0 inline">Edit</a>
                
              </div>
            </div>
          <% } %>
    
            
    
        <% }) %>

      </div>
  
    

  </div>
  

  
</body>
</html>